html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .app {
  display: flex;
} */

/* .........Nav........ */
.nav {
  height: 100vh;
  background-color: rgb(43, 43, 63);
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 999;
}

.nav :is(.nav--logo, .nav--controls) {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
}

.nav .nav--logo img {
  width: 40px;
}

#link {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.nav--item {
  cursor: pointer;
  padding: 10px;
}

/* .........DashBoard........ */
.dash-board {
  padding: 1em;
  width: 100%;
  margin-left: 75px;
}

.ticket-container {
  /* height: 80vh; */
  overflow: scroll;
}

/* .........ticket card........ */
.ticket-card {
  display: flex;
  width: 100%;
}

.ticket-card #link {
  display: flex;
  width: 100%;
}

.ticket-card #link>* {
  background-color: rgb(221, 221, 221);
  margin: 2px;
  padding: 30px;
  display: flex;
  width: 100%;
  align-items: center;
}

.ticket-card .ticket--color {
  width: 15px !important;
  margin: 2px;
  padding: 10px !important;
}

.ticket-card .avatar-container {
  justify-content: center;
  width: 30px;
}

.avatar-container .image-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-container .image-container img {
  width: 100%;
}

.ticket-card .status-display {
  display: flex;
  justify-content: center;
}

.ticket-card .priority-display .star-container {
  display: flex;
  gap: 10px;
}

.ticket-card .progress-display {
  min-width: 200px;
}

.ticket-card .progress-bar {
  width: 100%;
  height: 20px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  overflow: hidden;
}

.progress-bar .progress-indicator {
  background-color: rgb(53, 25, 211);
  height: 100%;
}

.ticket-card .delete-block {
  background-color: rgb(211, 211, 211);
  width: 50px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  display: flex;
}

.delete-block .delete-icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(61, 61, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

/* ticket creation form */
.ticket-container form {
  display: flex;
  gap: 80px;
  max-width: 1000px;
  margin: auto;
}

.ticket-container section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ticket-container section :is(input, select) {
  margin-bottom: 20px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #f7f4f4;
  border: 2px solid lightblue;
  border-radius: 4px;
}

.ticket-container section input[type="submit"] {
  background-color: #79aee5;
  width: 50%;
}

.ticket {
  width: 100%;
  margin-left: 75px;
}